@model List<CompetidorModel>
@{
    ViewData["Title"] = "Competidores";
}

<div class="banner">
    <img src="~/imgs/logo.png" />
</div>

<div class="rule-btn">
    <div class="game-rule">
        <p>A REGRA É CLARA!</p>
        <p>Selecione 16 lutadores para liberar o botão de iniciar o torneio</p>
        <p>E veja quem será o <span style="color: #f7b551">VENCEDOR</span></p>
    </div>
    <div class="dark-mode">
        <button class="btn-dark-mode btn btn-outline-light">Dark Mode</button>
    </div>
</div>

<div class="competidores">
    <form asp-controller="Resultado" asp-action="Index" method="post">
        <div class="btns fixed-top">
            <div class="div-btn-left">
                <button type="submit" class="btn-start btn" disabled>Que comecem as lutas!</button>
            </div>
            <div class="div-btn-right">
                <div id="checkcount"></div>
                <button type="button" class="btn-clear-all btn">Limpar todos</button>
            </div>
        </div>
        <div class="cards">
            @for (int i = 0; i < Model.Count; i++)
            {
                <div class="card">
                    <div class="card-content">
                        <div class="header-card">
                            <input class="ck-box" type="checkbox" value="false" name="competidores[@i].IsCheck" id="@Model[i].Id" onclick="checkFighter(@Model[i].Id);" />
                            <input type="hidden" name="competidores[@i].Id" value="@Model[i].Id" />
                            <input type="hidden" name="competidores[@i].Nome" value="@Model[i].Nome" />
                            <input type="hidden" name="competidores[@i].Idade" value="@Model[i].Idade" />
                            <input type="hidden" name="competidores[@i].Lutas" value="@Model[i].Lutas" />
                            <input type="hidden" name="competidores[@i].Derrotas" value="@Model[i].Derrotas" />
                            <input type="hidden" name="competidores[@i].Vitorias" value="@Model[i].Vitorias" />
                            <input type="hidden" name="competidores[@i].ArtesMarciais" value="@Model[i].ArtesMarciais" />
                            <label>
                                @Model[i].Nome
                            </label>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item"><span>Idade: </span>@Model[i].Idade</li>
                            <li class="list-group-item"><span>Lutas: </span>@Model[i].Lutas</li>
                            <li class="list-group-item"><span>Derrotas: </span>@Model[i].Derrotas</li>
                            <li class="list-group-item"><span>Vitorias: </span>@Model[i].Vitorias</li>
                            <li class="list-group-item"><span>Artes Marciais: </span>@Model[i].ArtesMarciais.Length</li>
                        </ul>
                    </div>
                </div>            
            }
        </div>
    </form>
</div>



